html {
    font-family: sans-serif;
    user-select: none;
}

#app {
    width: 720px;
    margin: 0 auto;
}

#controls {
    width: 600px;
    margin: 20px auto;
    background-color: #EEE;
    border: solid 4px #EEE;
    padding: 20px;
    overflow: hidden;
}

#controls.assembling-move {
    /*border: solid 4px #EE821D;*/
}

#hand {
    overflow: hidden;
    float: left;
    width: 380;
}

#hand .tile {
    float: left;
    width: 50px;
    height: 50px;
    background-color: white;
    text-align: center;
    border: solid 1px #AAA;
    margin: 0 10px;
    font-size: 50px;
}

#hand .tile.inactive {
    background-color: #EEE;
}

#controls.assembling-move .tile:hover {
    cursor: pointer;
    /*background-color: #EE821D;*/
    background-color: #FFB36C;
}

.button {
    float: right;
    font-size: 30px;
    background-color: #333;
    color: white;
    padding: 10px;
    margin-left: 25px;
}

.button.cancel {
    background-color: #D93D27;
}

.button.cancel:hover {
    background-color: #EB422A;
}

.button.back {
    background-color: #E88F0B;
}

.button.back:hover {
    background-color: #FF9D0C;
}

.button:hover {
    cursor: pointer;
}

.button.inactive,
.button.inactive:hover {
    background-color: #333;
    cursor: default;
}

#grid {
    width: 612px;
    margin: 20px auto;
    background-color: #EEE;
    overflow: hidden;
}

.column {
    overflow: hidden;
    float: left;
    width: 47px;
}

.cell {
    width: 45px;
    height: 45px;
    border: solid 1px #333;
    float: left;
    color: #333;
    font-family: helvetica;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
}

.cell.full {
    background-color: #CCC;
}

.cell.blocked {
    background-color: pink;
}

.cell.playable {
    background-color: #B4FFB4;
}

.cell.playable:hover {
    cursor: pointer;
    background-color: #8BE58B;
}

.cell.selected,
.cell.selected:hover {
    background-color: #EE821D;
}

.cell.speculative,
.cell.speculative:hover {
    background-color: #FFB36C;
}
